{% extends "page.html" %}
{% import 'macros/form.html' as form %}

{% block subtitle %}{{ _("Datasets") }}{% endblock %}

{% block breadcrumb_content %}
<li class="active">{{ h.nav_link(_('Datasets'), controller='package', action='search', highlight_actions = 'new index') }}</li>
{% endblock %}

{% block pre_primary %}
   {% resource 'custom_search/custom_search_iframe.js' %}
   <!--iframe id='iframe1' name='iframe1' frameborder="0" style="width:100%; height:1600px" src="http://daas-dap.cloudapp.net/search" data-module="custom_search_iframe" /-->
   <div data-module="custom_search_iframe" name='iframeContainer' id='iframeContainer'></div>
{% endblock %}

{% block primary_content %}
  <section class="module">
    <div class="module-content">
      {% block page_primary_action %}
        {% if h.check_access('package_create') %}
          <div class="page_primary_action">
            {% link_for _('Add Dataset'), controller='package', action='new', class_='btn btn-primary', icon='plus-sign-alt' %}
          </div>
        {% endif %}
      {% endblock %}
    </div>
    <div class="module-content" data-module="custom_search_iframe">
    </div>
  </section>
{% endblock %}

