{% extends "page.html" %}
{% set homepage_style = ( g.homepage_style or '1' ) %}

{% block subtitle %}{{ _("Welcome") }}{% endblock %}

{% block maintag %}{% endblock %}
{% block toolbar %}{% endblock %}

{% block content %}
   {% block primary_content %}
      {% set tags = h.get_facet_items_dict('tags', limit=3) %}
{% set placeholder = _('E.g. environment') %}

<div role="main" class="hero">
<div class="container">
<div class="row row1">
<div class="module module-search module-narrow module-shallow box">
  <form class="module-content search-form" method="get" action="{% url_for controller='package', action='search' %}">
    <h3 class="heading">Search datasets</h3>
    <div class="search-input control-group search-giant">
      <input type="text" class="search" name="q" value="" autocomplete="off" placeholder="{% block search_placeholder %}{{ placeholder }}{% endblock %}" />
      <button type="submit">
        <i class="icon-search"></i>
        <span>{{ _('Search') }}</span>
      </button>
    </div>
  </form>
  <div style="background-color:#2f9b45">
    <h3  style='color:white; display:block; float:left; margin: 5px 10px 0 0; font-size:14px; line-height:20px; padding: 2px 8px'>{{ _('Popular tags') }}</h3>
    {% for tag in tags %}
      <a class="tag" style='margin: 5px' href="{% url_for controller='package', action='search', q=tag.name %}">{{ h.truncate(tag.display_name, 22) }}</a>
    {% endfor %}
  </div>
</div>
</div>
</div>
</div>
   {% endblock %}
{% endblock %}
